<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Fitness Tracking System  </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="~/theme/assets/css/lib/select2/select2.min.css" rel="stylesheet" />
    <link href="~/theme/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/theme/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/theme/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/theme/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/theme/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/theme/assets/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link href="~/theme/vendor/owl-carousel/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/theme/vendor/owl-carousel/css/owl.theme.default.min.css" rel="stylesheet" />   
    <link href="~/theme/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="~/theme/css/style.css" rel="stylesheet">
<link href="~/theme/assets/css/style.css" rel="stylesheet" /> 
    <link href="~/theme/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/theme/assets/css/lib/fontawesome-free-6.7.2-web/css/all.css" rel="stylesheet" />
    <link href="~/theme/assets/css/lib/fontawesome-free-6.7.2-web/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <partial name="_SideMenuBar" />
    </div>
    @* <div class="header">
        <div class="container-fluid">
            <partial name="_Header" />
        </div>
    </div> *@
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="footer">
                <p>
                Designed And Developed By   © Samip Bhattarai
                </p>
            </div>
        </div>
    </div>
    <!-- JS
    ============================================ -->
    <!-- Vendors JS -->
    <!-- jquery vendor -->
   
    <script src="~/theme/assets/js/lib/jquery.min.js"></script>
    <script src="~/theme/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/theme/assets/js/lib/menubar/sidebar.js"></script>
    <script src="~/theme/assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    <!-- bootstrap -->
    <script src="~/theme/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/theme/js/plugins-init/datatables.init.js"></script>

    <script src="~/theme/assets/js/scripts.js"></script><script src="~/theme/assets/js/lib/select2/select2.full.min.js"></script>
    <!-- scripit init-->
    @RenderSection("Scripts", required: false)
</body>

</html>