@model AgeGroupViewModel

<div class="row page-titles mx-0">
    <div class="col-sm-12 p-md-0">
        <div class="welcome-text">
            <h4>Hi, welcome back!</h4>
            <span class="ml-1">Create Age Group</span>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create Age Group</h4>
    </div>
    <div class="card-body">
        <form asp-action="CreateAgeGroup" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(model => model.Id)

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="font-weight-bold">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="font-weight-bold">Upload Image</label>
                    <input type="file" asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-success btn-sm text-white">
                    <i class="fa fa-save"></i> Save
                </button>
                <a asp-action="AgeGroups" class="btn btn-sm text-white" style="background-color:#424f63;">
                    <i class="fa fa-arrow-left" aria-hidden="true"> Back </i>
                </a>
            </div>
        </form>
    </div>
</div>
